# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lfciibuxwrasrsgypztn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmY2lpYnV4d3Jhc3JzZ3lwenRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMDE3NjYsImV4cCI6MjA2OTg3Nzc2Nn0.K918wIVBdKxxQhqFWrQ3WxLkpoaH2soitp2CL29begA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmY2lpYnV4d3Jhc3JzZ3lwenRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMwMTc2NiwiZXhwIjoyMDY5ODc3NzY2fQ.EY1mYWA9KCNdz7sl9G070jLXjD5GgkzloH8Uvo9OCbI

# Email Configuration for Gmail
SMTP_USER=diego@comcreate.org
SMTP_PASS=zghaahojbxybdmho
SMTP_FROM=diego@comcreate.org
NOTIFICATION_EMAIL=diego@comcreate.org

# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
